
#wrapper {
    width: 100%;
    max-width: 100%;
    position: relative;
}

#prev,
#next {
    display: flex;
    justify-content: center;
    align-content: center;
    background: white;
    border: none;
    padding: 8px;
    border-radius: 50%;
    outline: 0;
    cursor: pointer;
    position: absolute;
}
  
#prev {
    top: 50%;
    left: 0;
    transform: translate(50%, -50%);
    display: none;
}
  
#next {
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
}

  
#carousel {
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
}
  
#carousel::-webkit-scrollbar {
    height: 0;
}

#content {
    display: grid;
    grid-gap: 16px;
    grid-auto-flow: column;
    margin: auto;
    box-sizing: border-box;
}

.item-content p:nth-child(1) {
    color: var(--e-global-color-secondary );
    font-size: 1.2em;
    margin: 0;
}

 .item-content p:nth-child(2) {
    margin: 0 50px;
    font-size: 0.9em;
}


/* Carousel 1 */
.carousel-type-1 .item {
    width: 294px;
    height: 294px;
    margin: 5px auto;
    overflow: hidden;
    background: #fff;
    border-radius: 100%;
    box-shadow: rgb(0 0 0 / 10%) 1px 1px 5px 1px;
}

.carousel-type-1 .item-img {
    height: 190px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.carousel-type-1 .item-content {
    text-align: center;
}


/* Carousel-2 */
.carousel-type-2 .item {
    width: 280px;
    height: 320px;
    margin: 5px auto;
}

.carousel-type-2 .item-content {
    height: 228px;
    text-align: center;
    padding: 100px 15px 50px;
    box-shadow: rgb(27 162 247 / 50%) 0px 0px 5px 1px;
}

.carousel-type-2 .item-img {
    height: 200px;
    width: 200px;
    margin: 0 auto -100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100%;
    position: relative;
}